.DS_Store
/node_modules
/temp_release
/desktop/node_modules
/dist
/public/manifest.json
/public/plugin.json
/public/README.md
/id_rsa.pem
/public/_locales

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
test.js
/public/background.js
