/* 黑暗模式简单实现 */
html {
    background-color: #fff;
}

/* 强制黑暗模 */
html[theme-mode='dark'] {
    filter: invert(1) hue-rotate(180deg);
}

html[theme-mode='dark'] img,
html[theme-mode='dark'] picture,
html[theme-mode='dark'] video,
html[theme-mode='dark'] .dark-exclude {
    filter: invert(1) hue-rotate(180deg);
}

html[theme-mode='dark'] .ivu-drawer-mask {
    filter: invert(1) hue-rotate(180deg);
    background-color: rgba(0, 0, 0, .6);
}

/* 自动识别 */
@media (prefers-color-scheme: dark) {
    html[theme-mode='auto'] {
        filter: invert(1) hue-rotate(180deg);
    }

    html[theme-mode='auto'] img,
    html[theme-mode='auto'] picture,
    html[theme-mode='auto'] video,
    html[theme-mode='auto'] .dark-exclude {
        filter: invert(1) hue-rotate(180deg);
    }

    html[theme-mode='auto'] .ivu-drawer-mask {
        filter: invert(1) hue-rotate(180deg);
        background-color: rgba(0, 0, 0, .6);
    }
}
